<div class= 'team-main'>
    <h1 class= 'main-header'>チームリスト</h1>
    <table class= "team-table">
      <thead class= "team-thead">
        <tr>
          <th class= "team-th">チーム名</th>
        </tr>
      </thead>
   
      <tbody class= "team-tbody">
        <% if @company.teams.present?%>
          <% @company.teams.each do |team|%>
          <tr >
            <td class= "team-td"><%= link_to team.team_name, company_team_path(@company,team.id)%> <%= link_to '削除', company_team_path(@company,team.id), method: :delete, class: 'btn2' %></td>
          </tr>
          <% end %>
        <% else %>
          <td class= "team-td">登録なし</td>
        <% end %>
      </tbody>
    </table>
    <%= link_to '+チーム', new_company_team_path(@company), class: 'btn2'%>
  </div>