<%= render "shared/header1" %>
<div class= 'main'>
  <div class= 'member-main'>
      <h1 class= 'main-header'>Member List</h1>
      <table class= "member-table">
        <thead class= "member-thead">
          <tr>
              <th class= "member-th">member_name</th>
          </tr>
        </thead>
   
        <tbody class= "member-tbody">
          <% if @team.members.present?%>
            <% @team.members.each do |member|%>
              <tr >
                <td class= "member-td"><%= link_to member.member_name, "/"%></td>
              </tr>
            <% end %>
          <% else %>
            <td class= "member-td">登録なし</td>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'edit Member', edit_company_team_path, class: 'btn'%>
    </div>
  </div>
</div>