.member_main {
  width: 100vw;
  height: 90vh;
  padding: 2vh 2vw;
}

.main_header {
  font-size: 25px;
  color:white;
}

.form2 {
  height: 5vh;
}

.form-company {
  background-color: white;
  border: 2px solid darkolivegreen;
  height: 100px;
  width: 50vw;
  padding-left: 10px;
  padding-left: 20px;
  margin-top: 20px;
}

.form-control {
  background-color: white;
  border: 2px solid darkolivegreen;
  height: 100px;
  width: 50vw;
  padding-left: 20px;
  margin-top: 20px;
}
