<%= render "shared/header1" %>

<div class= 'main'>
  <%= render 'members/member_main', collection: @member %>
  <%= render 'teams/team_main', collection: @team %>
  <%= render 'plans/plan_main', collection: @plan %>
</div>