<div class= 'plan-main'>
    <h1 class= 'main-header'>案件リスト</h1>
    <table class= "plan-table">
      <thead class= "plan-thead">
        <tr>
          <th class= "plan-th">案件名</th>
        </tr>
      </thead>
   
      <tbody class= "plan-tbody">
        <% if @company.plans.present?%>
          <% @company.plans.each do |plan|%>
          <tr >
            <td class= "plan-td"><%= link_to plan.plan_name, company_plan_path(@company,plan.id)%> <%= link_to '削除', company_plan_path(@company,plan.id), method: :delete, class: 'btn2' %></td>
          </tr>
          <% end %>
        <% else %>
          <td class= "plan-td">登録なし</td>
        <% end %>
      </tbody>
    </table>
    <%= link_to '+案件', new_company_plan_path(@company) , class: 'btn2'%>
  </div>