<div class="contents row">
  <div class="success">
    <h3>削除が完了しました。</h3>
    <%= form_with model: [@company,@member], class: 'form2', local: true do |f| %>
    <%= link_to 'Back', company_path(@company), class: 'btn2'%>
  <% end %>
</div>